@import "../../../../assets/partials/utils/_functions";
@import "../../../../assets/partials/utils/_variables";


.card{
    .color-item{
        max-width: 100%;
        padding: 12px;
        display: block;
        font-weight: bold;
    }
}