
<div class="web-container__section">
    <header>
        <div header-title>Card</div>
        <div header-desc>Play with Card</div>
    </header>
    <div class="web-container__detail">
        <h3>Basic Card</h3>
            <div class="card card-body">
                    <div class="card-title">Card Header</div>
                    <p>Appropriately visualize highly efficient testing procedures vis-a-vis enterprise metrics. 
                        Distinctively 
                        supply go forward niches before B2B value. Intrinsicly strategize interoperablet
                    </p>
            </div>
        <hr/>    
        <h3>Color Cards</h3>
        <div class="grid row resp four">
            <div *ngFor="let type of themeTypeArr" class="card card-body card-{{type}}">
                    <div class="card-title">Card Header</div>
                    <p>Appropriately visualize highly efficient testing procedures vis-a-vis enterprise metrics. 
                        Distinctively 
                        supply go forward niches before B2B value. Intrinsicly strategize interoperablet
                    </p>
            </div>
        </div>    
        <hr/>   
        <h3>Hover Card</h3>
            <div class="card card-body card-hover">
                    <div class="card-title">Card Header</div>
                    <p>Appropriately visualize highly efficient testing procedures vis-a-vis enterprise metrics. 
                        Distinctively 
                        supply go forward niches before B2B value. Intrinsicly strategize interoperablet
                    </p>
            </div>
        <hr/>     
        <h3>Header,Body & Footer Card</h3>
            <div class="card card-hover">
                <div class="card-header">
                    <div class="card-title">Card Header</div>
                </div>
                <div class="card-body">
                        <p>Appropriately visualize highly efficient testing procedures vis-a-vis enterprise metrics. 
                                Distinctively 
                                supply go forward niches before B2B value. Intrinsicly strategize interoperablet
                            </p>
                </div>
                <div class="card-footer">
                       <a href="#" class="k-link animate">READ MORE</a> 
                </div>
                    
                    
            </div>
        <hr/>   
    </div>
</div>

