
<div class="web-container__section">
    <header>
        <div header-title>Button</div>
        <div header-desc>Play with Button's</div>
    </header>
    <div class="web-container__detail">
        <div class="grid row resp four">
            <div class="card center">
                <button class="k-btn k-primary">Submit</button>
                <small>class="k-btn k-primary"</small>
            </div>
            <div class="card center">
                <button class="k-btn k-secondary">Submit</button>
                <small>class="k-btn k-secondary"</small>
            </div>
            <div class="card center">
                <button class="k-btn k-success">Submit</button>
                <small>class="k-btn k-success"</small>
            </div>
            <div class="card center">
                <button class="k-btn k-info">Submit</button>
                <small>class="k-btn k-info"</small>
            </div>
            <div class="card center">
                <button class="k-btn k-warning">Submit</button>
                <small>class="k-btn k-warning"</small>
            </div>
            <div class="card center">
                <button class="k-btn k-danger">Submit</button>
                <small>class="k-btn k-danger"</small>
            </div>
            <div class="card center">
                <button class="k-btn k-light">Submit</button>
                <small>class="k-btn k-light"</small>
            </div>
            <div class="card center">
                <button class="k-btn k-dark">Submit</button>
                <small>class="k-btn k-dark"</small>
            </div>
        </div>
        <hr/>
        <div class="grid row">
            <div class="card center">
                <button class="k-btn k-primary k-round">Submit</button>
                <small>class="k-btn k-primary k-round"</small>
            </div>

        </div>
        <hr/>
        <div class="grid row">
            <div class="card center">
                <button class="k-btn k-outline-primary k-round">Submit</button>
                <small>class="k-btn k-outline-primary k-round"</small>
            </div>
            <div class="card center">
                <button class="k-btn k-outline-primary">Submit</button>
                <small>class="k-btn k-outline-primary"</small>
            </div>
            <div class="card center">
                <button class="k-btn k-outline-secondary">Submit</button>
                <small>class="k-btn k-outline-secondary"</small>
            </div>
            <div class="card center">
                <button class="k-btn k-outline-info">Submit</button>
                <small>class="k-btn k-outline-info"</small>
            </div>

        </div>
        <div class="grid row">
            <div class="card center">
                <button class="k-btn k-outline-primary animated fade">
                    <div class="show-content">Submit</div>
                    <div class="hide-content">Press It</div>
                </button>
                <small>class="k-btn k-outline-primary k-round"</small>
            </div>
            <div class="card center">
                <button class="k-btn k-primary k-lg">
                    Submit
                </button>
                <small>class="k-btn k-primary k-lg"</small>
            </div>
            <div class="card center">
                <button class="k-btn k-primary k-sm">
                    Submit
                </button>
                <small>class="k-btn k-primary k-sm"</small>
            </div>
            <div class="card center">
                <button class="k-btn k-primary k-block">
                    Submit
                </button>
                <small>class="k-btn k-primary k-block"</small>
            </div>
            

        </div>
    
    </div>
</div>

