
/* ========================================================================== */
/*  Extend Properties*/
/* ========================================================================== */
%m-0{
    margin: 0;
}

%p-0{
    padding: 0;
}

%bor-btm-1{
    border-bottom: em(1px,$base-size) solid $border-color;
}

