// UI Colors
$color-robin    : #8FCCCC;
$color-vista    : #79D1AD;
$color-mandy    : #e67478;
$color-apricot  : #ed8864;
$color-eastside : #9279c3;

//Base Size
$base-size : 16px;

//Sidebar width
$sidebar-width: 280px;

//Menubar Height
$topbar-height: 70px;

